<h1><em>Band Tracker</em></h1>

<hr>

<h4><small>Add Band:</small></h4>

<form action:"/" method="post">
  <div class="form-group">
    <input name="band_name" class="form-control" type="test" placeholder="Enter Band Here">
    <br>
    <button class="btn btn-danger" value="submit">Add Band!</button>
  </div>
  <form>

    <hr>

    <% if @bands.any?() %>
    <h4><small>Bands:</small></h4>
    <ul>
      <% @bands.each() do |band| %>
      <li>
        <a href="/band/<%= band.id() %>"><%= band.name() %></a>
        <a href="/band/delete/<%= band.id() %>"><small>(delete band)</small></a>
      </li>
      <% end %>
    </ul>
    <% else %>
    <p>You have no bands</p>
    <% end %>

    <hr>
